BODY {
	FONT-SIZE: 12px; BACKGROUND: #eee; LINE-HEIGHT: 1.5
}
H1 {
	FONT-SIZE: 14px
}
H2 {
	FONT-SIZE: 12px; COLOR: #556688
}
P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; TEXT-INDENT: 2em; PADDING-TOP: 0px
}
.code {
	BORDER-RIGHT: #000 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #000 1px dashed; PADDING-LEFT: 10px; BACKGROUND: #a9a9a9; PADDING-BOTTOM: 10px; BORDER-LEFT: #000 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #000 1px dashed
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:visited {
	TEXT-DECORATION: line-through
}
LI {
	LINE-HEIGHT: 2; LIST-STYLE-TYPE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.demo {
	BORDER-RIGHT: #565656 1px solid; BORDER-TOP: #565656 1px solid; BACKGROUND: #989898; MARGIN: 50px; BORDER-LEFT: #565656 1px solid; BORDER-BOTTOM: #565656 1px solid; HEIGHT: 500px
}
